<div id="<%= dom_id father %>">
  <p>
    <strong>Name:</strong>
    <%= father.name %>

    <strong>CPF:</strong>
    <%= father.cpf %>

    <strong>Email:</strong>
    <%= father.email %>

    <hr>

    <strong>Occupation:</strong>
    <%= father.occupation_description %>

    <hr>

    <strong>Avatar:</strong>
    <% if father.avatar.attached? %>
    <%= image_tag father.avatar.variant(:thumb) %>
    <% else %>
    <p>Sem avatar</p>
    <% end %>

    <hr>
    <ul>
      <% @father.children.each do |child| %>
        <li><%= "#{child.name} - #{sexo(child.sex)}" %></li>
      <% end %>
    </ul>
    

  </p>

</div>
