<div id="<%= dom_id friend %>">
  <p>
    <strong>Nome:</strong>
    <%= friend.nome %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= friend.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= friend.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </p>

  <p>
    <strong>Created_at:</strong>
    <%= friend.created_at %>
  </p>

</div>
